.person-details-wrapper {
  --coefficient: 1;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
  opacity: 0;
  backdrop-filter: blur(15px);
  transition: 0.7s;
  z-index: 10;
}

.cross {
  position: absolute;
  padding: calc(0.28vw * var(--coefficient));
  width: calc(1.05vw * var(--coefficient));
  height: calc(1.05vw * var(--coefficient));
  /* top: calc(1.05vw * var(--coefficient)); */
  /* left: calc(1.05vw * var(--coefficient)); */
  top: 26%;
  left: 18%;
  transform: translate(-82%, -74%);
  cursor: pointer;
  transition: 0.3s;
  z-index: 3;
}

.cross::after,
.cross::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 2px;
  border-radius: 50px;
  background: #ccc;
  transition: inherit;
}

.cross::before {
  transform: translate(-50%, -50%) rotate(45deg);
}

.cross::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.cross:hover::after,
.cross:hover::before {
  background: #000;
}

.person-detail-card {
  --card-width: 60%;
  --height-coefficient: 0.9;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--card-width) * var(--coefficient));
  padding: calc(2vw * var(--coefficient)) calc(3vw * var(--coefficient));
  border-radius: calc(1vw * var(--coefficient));
  border: 1px solid rgba(0, 0, 0, 0.5);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: #fff;
  overflow: hidden;
  transform: translate(-50%, 100%);
  transition: 0.7s;
}

.person-detail-card.non-descripted {
  min-height: 60%;
}

.person-detail-info {
  width: 60%;
  font-size: calc(1.08vw * var(--coefficient));
}

.person-detail-name {
  font-size: calc(2.8vw * var(--coefficient));
  line-height: 1;
}

.person-detail-town,
.person-detail-role {
  display: flex;
  align-items: center;
  margin: calc(0.8vw * var(--coefficient)) 0;
}

.icon {
  margin-right: calc(0.5vw * var(--coefficient));
  height: calc(1.4vw * var(--coefficient));
}

.person-detail-description {
  color: rgba(100, 100, 111, 0.8);
  font-size: calc(0.9vw * var(--coefficient));
  line-height: 1.6;
  max-height: 350px;
  overflow-x: hidden;
  white-space: pre-line;
  width: 85%;
  padding-right: 20px;
}

.person-contacts {
  margin-top: calc(1.5vw * var(--coefficient));
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.person-contact {
  display: flex;
  align-items: center;
  position: relative;
  color: #000;
  text-decoration: none;
}

.person-contact::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: 100%;
  height: 1px;
  background: #000;
  transform: scaleX(0);
  transition: 0.35s;
}

.person-detail-photo {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 37%;
  object-fit: cover;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* Animations */
.person-details-wrapper.active {
  pointer-events: all;
  opacity: 1;
}

.person-details-wrapper.active .person-detail-card {
  transform: translate(-50%, -50%);
}

.person-contact:hover::before {
  transform: scaleX(1);
}

@media (max-width: 1150px) {
  .person-details-wrapper {
    --coefficient: 1.4;
  }
}

@media (max-width: 840px) {
  .person-detail-card {
    height: 70%;
  }
  .person-detail-role {
    margin-top: 20px;
  }
  .person-detail-role,
  .person-detail-town,
  .person-detail-phone,
  .person-detail-email {
    font-size: 14px;
    width: 80%;
  }
  .person-contacts {
    align-items: flex-start;
    flex-direction: column;
  }
  .cross {
    top: unset;
    left: unset;
    right: 50%;
    transform: translateX(50%);
    background: #fff;
    padding: 20px;
    border-radius: 50%;
    bottom: 5%;
  }
  .cross::after,
  .cross::before {
    width: 55%;
    background: #000;
  }
  .person-contact {
    margin: calc(0.8vw * var(--coefficient)) 0;
  }
  .person-detail-description {
    position: absolute;
    top: 45%;
    max-height: 500px;
    font-size: calc(1.9vw * var(--coefficient));
  }
  .person-detail-photo {
    top: 2vw;
    right: calc(3vw * var(--coefficient));
    height: 40%;
    border-radius: inherit;
  }
}
